In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
abb_df = pd.read_csv('abb.csv')

In [121]:
import pandas as pd

# 첫 번째 CSV 파일 로드 (abb.csv와 동일한 파일로 가정)
file_path1 = "abb.csv"
df1 = pd.read_csv(file_path1)

# 두 번째 CSV 파일 로드 (bbb.csv)
file_path2 = "bbb.csv"
df2 = pd.read_csv(file_path2)

# 두 개의 DataFrame 합치기
combined_df = pd.concat([df1, df2], ignore_index=True)

# 합쳐진 데이터 확인

,team,year,Fielding_Percentage,batting_average,on_base_percentage,slugging_percentage,on_base_plus_slugging,ERA,WHIP
0,LG,20,0.985,0.277,0.349,0.428,0.778,4.39,1.42
1,KT,20,0.981,0.284,0.358,0.436,0.794,4.56,1.46
2,키움,20,0.980,0.269,0.355,0.408,0.762,4.39,1.39
3,NC,20,0.984,0.291,0.366,0.462,0.828,4.59,1.42
4,삼성,20,0.981,0.268,0.338,0.394,0.732,4.78,1.47
5,SK,20,0.981,0.250,0.329,0.383,0.711,5.60,1.60
6,롯데,20,0.983,0.276,0.354,0.408,0.762,4.64,1.41
7,두산,20,0.984,0.293,0.365,0.427,0.792,4.40,1.46
8,한화,20,0.981,0.245,0.320,0.338,0.658,5.29,1.59
9,KIA,20,0.981,0.274,0.351,0.404,0.755,5.14,1.54
10,LG,21,0.983,0.250,0.342,0.368,0.710,3.59,1.31
11,KT,21,0.979,0.265,0.356,0.382,0.738,3.68,1.32
12,한화,21,0.977,0.237,0.334,0.341,0.675,4.68,1.49
13,SSG,21,0.981,0.261,0.354,0.421,0.775,4.84,1.51
14,키움,21,0.976,0.259,0.347,0.376,0.723,4.33,1.46
15,삼성,21,0.983,0.267,0.344,0.399,0.743,4.30,1.45
16,NC,21,0.979,0.261,0.343,0.416,0.759,4.54,1.48
17,두산,21,0.983,0.268,0.350,0.390,0.741,4.26,1.48
18,KIA,21,0.979,0.248,0.337,0.336,0.673,4.91,1.50
19,롯데,21,0.984,0.278,0.356,0.399,0.756,5.38,1.57
20,LG,22,0.983,0.269,0.346,0.396,0.742,3.33,1.27
21,SSG,22,0.980,0.254,0.336,0.396,0.732,3.90,1.29
22,KT,22,0.982,0.254,0.330,0.375,0.704,3.56,1.25
23,키움,22,0.979,0.252,0.333,0.363,0.697,3.80,1.34
24,KIA,22,0.980,0.272,0.349,0.398,0.746,4.21,1.42
25,NC,22,0.976,0.257,0.334,0.375,0.709,3.91,1.36
26,한화,22,0.975,0.245,0.319,0.352,0.671,4.82,1.51
27,삼성,22,0.978,0.270,0.334,0.387,0.721,4.33,1.44
28,두산,22,0.978,0.255,0.324,0.365,0.689,4.46,1.48
29,롯데,22,0.978,0.267,0.328,0.383,0.711,4.47,1.46
30,LG,23,0.974,0.285,0.373,0.394,0.767,3.66,1.33
31,NC,23,0.974,0.266,0.346,0.384,0.730,3.67,1.34
32,SSG,23,0.979,0.259,0.336,0.396,0.732,4.06,1.50
33,두산,23,0.979,0.257,0.336,0.372,0.708,3.90,1.36
34,KIA,23,0.982,0.260,0.331,0.367,0.698,3.82,1.44
35,키움,23,0.982,0.254,0.328,0.347,0.675,3.77,1.33
36,KT,23,0.979,0.264,0.335,0.360,0.695,4.38,1.40
37,한화,23,0.981,0.241,0.328,0.344,0.673,3.88,1.34
38,삼성,23,0.983,0.252,0.322,0.356,0.678,4.57,1.46
39,롯데,23,0.985,0.255,0.327,0.346,0.673,4.53,1.52

In [147]:
import pandas as pd

# 첫 번째 CSV 파일 로드 (abb.csv와 동일한 파일로 가정)
file_path1 = "abb.csv"
df1 = pd.read_csv(file_path1)

# 두 번째 CSV 파일 로드 (bbb.csv)
file_path2 = "bbb.csv"
df2 = pd.read_csv(file_path2)

# 두 개의 DataFrame 합치기
combined_df = pd.concat([df1, df2], ignore_index=True)

# 세 번째 CSV 파일 로드 (kbo_ranking_data_all.csv)
file_path3 = "kbo_ranking_data_all.csv"
ranking_df = pd.read_csv(file_path3)

# ranking_df에서 year 열의 값에서 20을 빼기
ranking_df['year'] = ranking_df['year'] - 2000

# combined_df와 ranking_df를 team과 year를 기준으로 합치기
result_df = pd.merge(combined_df, ranking_df, on=['team', 'year'])

# 결과 확인
result_df.to_csv('ml.csv',index=False)

   team  year  Fielding_Percentage  batting_average  on_base_percentage  \
0    LG    20                0.985            0.277               0.349
1    KT    20                0.981            0.284               0.358
2    키움    20                0.980            0.269               0.355
3    NC    20                0.984            0.291               0.366
4    삼성    20                0.981            0.268               0.338
5    SK    20                0.981            0.250               0.329
6    롯데    20                0.983            0.276               0.354
7    두산    20                0.984            0.293               0.365
8    한화    20                0.981            0.245               0.320
9   KIA    20                0.981            0.274               0.351
10   LG    21                0.983            0.250               0.342
11   KT    21                0.979            0.265               0.356
12   한화    21                0.977            0.237               0.334
13  SSG    21                0.981            0.261               0.354
14   키움    21                0.976            0.259               0.347
15   삼성    21                0.983            0.267               0.344
16   NC    21                0.979            0.261               0.343
17   두산    21                0.983            0.268               0.350
18  KIA    21                0.979            0.248               0.337
19   롯데    21                0.984            0.278               0.356
20   LG    22                0.983            0.269               0.346
21  SSG    22                0.980            0.254               0.336
22   KT    22                0.982            0.254               0.330
23   키움    22                0.979            0.252               0.333
24  KIA    22                0.980            0.272               0.349
25   NC    22                0.976            0.257               0.334
26   한화    22                0.975            0.245               0.319
27   삼성    22                0.978            0.270               0.334
28   두산    22                0.978            0.255               0.324
29   롯데    22                0.978            0.267               0.328
30   LG    23                0.974            0.285               0.373
31   NC    23                0.974            0.266               0.346
32  SSG    23                0.979            0.259               0.336
33   두산    23                0.979            0.257               0.336
34  KIA    23                0.982            0.260               0.331
35   키움    23                0.982            0.254               0.328
36   KT    23                0.979            0.264               0.335
37   한화    23                0.981            0.241               0.328
38   삼성    23                0.983            0.252               0.322
39   롯데    23                0.985            0.255               0.327

    slugging_percentage  on_base_plus_slugging   ERA  WHIP  kbo_ranking
0                 0.428                  0.778  4.39  1.42            3
1                 0.436                  0.794  4.56  1.46            2
2                 0.408                  0.762  4.39  1.39            5
3                 0.462                  0.828  4.59  1.42            1
4                 0.394                  0.732  4.78  1.47            8
5                 0.383                  0.711  5.60  1.60            9
6                 0.408                  0.762  4.64  1.41            7
7                 0.427                  0.792  4.40  1.46            3
8                 0.338                  0.658  5.29  1.59           10
9                 0.404                  0.755  5.14  1.54            6
10                0.368                  0.710  3.59  1.31            3
11                0.382                  0.738  3.68  1.32            1
12                0.341                  0.675  4.68  1.49           10
13                0.421                  0.775  4.84  1.51            6
14                0.376                  0.723  4.33  1.46            5
15                0.399                  0.743  4.30  1.45            1
16                0.416                  0.759  4.54  1.48            7
17                0.390                  0.741  4.26  1.48            4
18                0.336                  0.673  4.91  1.50            9
19                0.399                  0.756  5.38  1.57            8
20                0.396                  0.742  3.33  1.27            2
21                0.396                  0.732  3.90  1.29            1
22                0.375                  0.704  3.56  1.25            3
23                0.363                  0.697  3.80  1.34            3
24                0.398                  0.746  4.21  1.42            5
25                0.375                  0.709  3.91  1.36            6
26                0.352                  0.671  4.82  1.51           10
27                0.387                  0.721  4.33  1.44            7
28                0.365                  0.689  4.46  1.48            9
29                0.383                  0.711  4.47  1.46            8
30                0.394                  0.767  3.66  1.33            1
31                0.384                  0.730  3.67  1.34            4
32                0.396                  0.732  4.06  1.50            2
33                0.372                  0.708  3.90  1.36            3
34                0.367                  0.698  3.82  1.44            7
35                0.347                  0.675  3.77  1.33            9
36                0.360                  0.695  4.38  1.40            6
37                0.344                  0.673  3.88  1.34            8
38                0.356                  0.678  4.57  1.46           10
39                0.346                  0.673  4.53  1.52            5

In [150]:
result_df

,team,year,Fielding_Percentage,batting_average,on_base_percentage,slugging_percentage,on_base_plus_slugging,ERA,WHIP,kbo_ranking
0,LG,20,0.985,0.277,0.349,0.428,0.778,4.39,1.42,3
1,KT,20,0.981,0.284,0.358,0.436,0.794,4.56,1.46,2
2,키움,20,0.980,0.269,0.355,0.408,0.762,4.39,1.39,5
3,NC,20,0.984,0.291,0.366,0.462,0.828,4.59,1.42,1
4,삼성,20,0.981,0.268,0.338,0.394,0.732,4.78,1.47,8
5,SK,20,0.981,0.250,0.329,0.383,0.711,5.60,1.60,9
6,롯데,20,0.983,0.276,0.354,0.408,0.762,4.64,1.41,7
7,두산,20,0.984,0.293,0.365,0.427,0.792,4.40,1.46,3
8,한화,20,0.981,0.245,0.320,0.338,0.658,5.29,1.59,10
9,KIA,20,0.981,0.274,0.351,0.404,0.755,5.14,1.54,6
10,LG,21,0.983,0.250,0.342,0.368,0.710,3.59,1.31,3
11,KT,21,0.979,0.265,0.356,0.382,0.738,3.68,1.32,1
12,한화,21,0.977,0.237,0.334,0.341,0.675,4.68,1.49,10
13,SSG,21,0.981,0.261,0.354,0.421,0.775,4.84,1.51,6
14,키움,21,0.976,0.259,0.347,0.376,0.723,4.33,1.46,5
15,삼성,21,0.983,0.267,0.344,0.399,0.743,4.30,1.45,1
16,NC,21,0.979,0.261,0.343,0.416,0.759,4.54,1.48,7
17,두산,21,0.983,0.268,0.350,0.390,0.741,4.26,1.48,4
18,KIA,21,0.979,0.248,0.337,0.336,0.673,4.91,1.50,9
19,롯데,21,0.984,0.278,0.356,0.399,0.756,5.38,1.57,8
20,LG,22,0.983,0.269,0.346,0.396,0.742,3.33,1.27,2
21,SSG,22,0.980,0.254,0.336,0.396,0.732,3.90,1.29,1
22,KT,22,0.982,0.254,0.330,0.375,0.704,3.56,1.25,3
23,키움,22,0.979,0.252,0.333,0.363,0.697,3.80,1.34,3
24,KIA,22,0.980,0.272,0.349,0.398,0.746,4.21,1.42,5
25,NC,22,0.976,0.257,0.334,0.375,0.709,3.91,1.36,6
26,한화,22,0.975,0.245,0.319,0.352,0.671,4.82,1.51,10
27,삼성,22,0.978,0.270,0.334,0.387,0.721,4.33,1.44,7
28,두산,22,0.978,0.255,0.324,0.365,0.689,4.46,1.48,9
29,롯데,22,0.978,0.267,0.328,0.383,0.711,4.47,1.46,8
30,LG,23,0.974,0.285,0.373,0.394,0.767,3.66,1.33,1
31,NC,23,0.974,0.266,0.346,0.384,0.730,3.67,1.34,4
32,SSG,23,0.979,0.259,0.336,0.396,0.732,4.06,1.50,2
33,두산,23,0.979,0.257,0.336,0.372,0.708,3.90,1.36,3
34,KIA,23,0.982,0.260,0.331,0.367,0.698,3.82,1.44,7
35,키움,23,0.982,0.254,0.328,0.347,0.675,3.77,1.33,9
36,KT,23,0.979,0.264,0.335,0.360,0.695,4.38,1.40,6
37,한화,23,0.981,0.241,0.328,0.344,0.673,3.88,1.34,8
38,삼성,23,0.983,0.252,0.322,0.356,0.678,4.57,1.46,10
39,롯데,23,0.985,0.255,0.327,0.346,0.673,4.53,1.52,5

In [149]:
result_df.to_csv('ml.csv',index=False)

In [143]:
combined_df = pd.concat([team_df, ranking_df], axis=1)

In [144]:
combined_df

,team,year,Fielding_Percentage,batting_average,on_base_percentage,slugging_percentage,on_base_plus_slugging,ERA,WHIP,year,team,kbo_ranking
0,LG,20,0.985,0.277,0.349,0.428,0.778,4.39,1.42,23,LG,1
1,KT,20,0.981,0.284,0.358,0.436,0.794,4.56,1.46,23,SSG,2
2,키움,20,0.980,0.269,0.355,0.408,0.762,4.39,1.39,23,두산,3
3,NC,20,0.984,0.291,0.366,0.462,0.828,4.59,1.42,23,NC,4
4,삼성,20,0.981,0.268,0.338,0.394,0.732,4.78,1.47,23,롯데,5
5,SK,20,0.981,0.250,0.329,0.383,0.711,5.60,1.60,23,KT,6
6,롯데,20,0.983,0.276,0.354,0.408,0.762,4.64,1.41,23,KIA,7
7,두산,20,0.984,0.293,0.365,0.427,0.792,4.40,1.46,23,한화,8
8,한화,20,0.981,0.245,0.320,0.338,0.658,5.29,1.59,23,키움,9
9,KIA,20,0.981,0.274,0.351,0.404,0.755,5.14,1.54,23,삼성,10
10,LG,21,0.983,0.250,0.342,0.368,0.710,3.59,1.31,22,SSG,1
11,KT,21,0.979,0.265,0.356,0.382,0.738,3.68,1.32,22,LG,2
12,한화,21,0.977,0.237,0.334,0.341,0.675,4.68,1.49,22,KT,3
13,SSG,21,0.981,0.261,0.354,0.421,0.775,4.84,1.51,22,키움,3
14,키움,21,0.976,0.259,0.347,0.376,0.723,4.33,1.46,22,KIA,5
15,삼성,21,0.983,0.267,0.344,0.399,0.743,4.30,1.45,22,NC,6
16,NC,21,0.979,0.261,0.343,0.416,0.759,4.54,1.48,22,삼성,7
17,두산,21,0.983,0.268,0.350,0.390,0.741,4.26,1.48,22,롯데,8
18,KIA,21,0.979,0.248,0.337,0.336,0.673,4.91,1.50,22,두산,9
19,롯데,21,0.984,0.278,0.356,0.399,0.756,5.38,1.57,22,한화,10
20,LG,22,0.983,0.269,0.346,0.396,0.742,3.33,1.27,21,KT,1
21,SSG,22,0.980,0.254,0.336,0.396,0.732,3.90,1.29,21,삼성,1
22,KT,22,0.982,0.254,0.330,0.375,0.704,3.56,1.25,21,LG,3
23,키움,22,0.979,0.252,0.333,0.363,0.697,3.80,1.34,21,두산,4
24,KIA,22,0.980,0.272,0.349,0.398,0.746,4.21,1.42,21,키움,5
25,NC,22,0.976,0.257,0.334,0.375,0.709,3.91,1.36,21,SSG,6
26,한화,22,0.975,0.245,0.319,0.352,0.671,4.82,1.51,21,NC,7
27,삼성,22,0.978,0.270,0.334,0.387,0.721,4.33,1.44,21,롯데,8
28,두산,22,0.978,0.255,0.324,0.365,0.689,4.46,1.48,21,KIA,6
29,롯데,22,0.978,0.267,0.328,0.383,0.711,4.47,1.46,21,한화,3
30,LG,23,0.974,0.285,0.373,0.394,0.767,3.66,1.33,20,NC,1
31,NC,23,0.974,0.266,0.346,0.384,0.730,3.67,1.34,20,KT,2
32,SSG,23,0.979,0.259,0.336,0.396,0.732,4.06,1.50,20,두산,3
33,두산,23,0.979,0.257,0.336,0.372,0.708,3.90,1.36,20,LG,3
34,KIA,23,0.982,0.260,0.331,0.367,0.698,3.82,1.44,20,키움,5
35,키움,23,0.982,0.254,0.328,0.347,0.675,3.77,1.33,20,KIA,6
36,KT,23,0.979,0.264,0.335,0.360,0.695,4.38,1.40,20,롯데,7
37,한화,23,0.981,0.241,0.328,0.344,0.673,3.88,1.34,20,삼성,8
38,삼성,23,0.983,0.252,0.322,0.356,0.678,4.57,1.46,20,SK,9
39,롯데,23,0.985,0.255,0.327,0.346,0.673,4.53,1.52,20,한화,10

In [119]:
# 2023년 팀 순위 확인
year_2023_ranking = df[df['year'] == 2020]
print("2023년 팀 순위:")
print(year_2023_ranking)

2023년 팀 순위:
    year team  kbo_ranking
30  2020   NC            1
31  2020   KT            2
32  2020   두산            3
33  2020   LG            3
34  2020   키움            5
35  2020  KIA            6
36  2020   롯데            7
37  2020   삼성            8
38  2020   SK            9
39  2020   한화           10

In [110]:
combined_df.describe()

,year,Fielding_Percentage,batting_average,on_base_percentage,slugging_percentage,on_base_plus_slugging,ERA,WHIP
count,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,21.500000,0.980300,0.262725,0.341075,0.384300,0.725400,4.333000,1.429250
std,1.132277,0.002884,0.013127,0.013298,0.028924,0.039997,0.531269,0.087131
min,20.000000,0.974000,0.237000,0.319000,0.336000,0.658000,3.330000,1.250000
25%,20.750000,0.979000,0.254000,0.330750,0.364500,0.696500,3.895000,1.355000
50%,21.500000,0.981000,0.261000,0.337500,0.383500,0.726500,4.385000,1.445000
75%,22.250000,0.983000,0.269250,0.350250,0.399000,0.755250,4.602500,1.482500
max,23.000000,0.985000,0.293000,0.373000,0.462000,0.828000,5.600000,1.600000

In [111]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   team                   40 non-null     object
 1   year                   40 non-null     int64
 2   Fielding_Percentage    40 non-null     float64
 3   batting_average        40 non-null     float64
 4   on_base_percentage     40 non-null     float64
 5   slugging_percentage    40 non-null     float64
 6   on_base_plus_slugging  40 non-null     float64
 7   ERA                    40 non-null     float64
 8   WHIP                   40 non-null     float64
dtypes: float64(7), int64(1), object(1)
memory usage: 2.9+ KB

## 데이터시각화

In [112]:
from io import StringIO

In [152]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from io import StringIO
from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
label_encoder = LabelEncoder()

# 데이터를 로드합니다. ('abb.csv'와 'bbb.csv'가 데이터를 담고 있는 파일이라고 가정합니다.)
abb_df = pd.read_csv('abb.csv')
bbb_df = pd.read_csv('bbb.csv')

# 팀(team) 컬럼을 삭제합니다.

# 두 개의 데이터프레임을 하나로 합칩니다. (year을 기준으로 합칩니다.)
combined_df = pd.merge(abb_df, bbb_df, on='year', how='outer')

# 'kbo_ranking_data_all.csv' 파일로부터 'kbo_ranking' 컬럼을 가져와 'rank'라는 이름의 새로운 컬럼으로 추가합니다.

rank_df = pd.read_csv(StringIO(rank_data), sep=',')

# 데이터프레임 'rank_df'에 'team' 컬럼이 있는지 확인합니다.
if 'team' in rank_df.columns:
    combined_df = pd.merge(combined_df, rank_df[['year', 'kbo_ranking']], on=['year'], how='left')
    combined_df.rename(columns={'kbo_ranking': 'rank'}, inplace=True)
else:
    # If 'team' column is not present in 'rank_df', we can try merging on 'year' only.
    combined_df = pd.merge(combined_df, rank_df[['year', 'kbo_ranking']], on='year', how='left')

In [81]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from io import StringIO
from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
label_encoder = LabelEncoder()

# 데이터를 로드합니다. ('abb.csv'와 'bbb.csv'가 데이터를 담고 있는 파일이라고 가정합니다.)
abb_df = pd.read_csv('abb.csv')
bbb_df = pd.read_csv('bbb.csv')

# 팀(team) 컬럼을 삭제합니다.
abb_df.drop(columns=['team'], inplace=True)
bbb_df.drop(columns=['team'], inplace=True)

# 두 개의 데이터프레임을 하나로 합칩니다.
combined_df = pd.merge(abb_df, bbb_df, on=['year'], how='outer')

# 'kbo_ranking_data_all.csv' 파일로부터 'kbo_ranking' 컬럼을 가져와 'rank'라는 이름의 새로운 컬럼으로 추가합니다.
rank_data = '''year,team,kbo_ranking
2023,LG,1
2023,SSG,2
2023,두산,3
2023,NC,4
2023,롯데,5
2023,KT,6
2023,KIA,7
2023,한화,8
2023,키움,9
2023,삼성,10
2022,SSG,1
2022,LG,2
2022,KT,3
2022,키움,3
2022,KIA,5
2022,NC,6
2022,삼성,7
2022,롯데,8
2022,두산,9
2022,한화,10
2021,KT,1
2021,삼성,1
2021,LG,3
2021,두산,4
2021,키움,5
2021,SSG,6
2021,NC,7
2021,롯데,8
2021,KIA,6
2021,한화,3
2020,NC,1
2020,KT,2
2020,두산,3
2020,LG,3
2020,키움,5
2020,KIA,6
2020,롯데,7
2020,삼성,8
2020,SK,9
2020,한화,10
'''
rank_df = pd.read_csv(StringIO(rank_data), sep=',')
# Remove leading and trailing whitespaces from the 'team' column in rank_df
rank_df['team'] = rank_df['team'].str.strip()

# Merge the DataFrames based on 'year' and 'team' columns
combined_df = pd.merge(combined_df, rank_df[['year', 'team', 'kbo_ranking']], on=['year', 'team'], how='left')

# Rename the 'kbo_ranking' column to 'rank'
combined_df.rename(columns={'kbo_ranking': 'rank'}, inplace=True)

# 데이터프레임 'rank_df'에 'team' 컬럼이 있는지 확인합니다.
if 'team' in rank_df.columns:
    combined_df = pd.merge(combined_df, rank_df[['year', 'team', 'kbo_ranking']], on=['year', 'team'], how='left')
    combined_df.rename(columns={'kbo_ranking': 'rank'}, inplace=True)
else:
    # If 'team' column is not present in 'rank_df', we can try merging on 'year' only.
    combined_df = pd.merge(combined_df, rank_df[['year', 'kbo_ranking']], on='year', how='left')
    combined_df.rename(columns={'kbo_ranking': 'rank'}, inplace=True)

# Fill missing values with the mean of each feature
combined_df.fillna(combined_df.mean(), inplace=True)

# 분석에 사용할 특성(feature)을 선택합니다.
selected_features = ['batting_average', 'on_base_percentage', 'slugging_percentage', 'ERA', 'Fielding_Percentage', 'rank']

# 특성들을 numpy 배열로 변환합니다.
X = combined_df[selected_features].values

# 목표 변수(target variable)를 설정합니다. ('rank'가 목표 변수라면 다음과 같이 설정합니다.)
target = 'rank'
y = combined_df[target].values

# 데이터셋의 기본 정보를 확인합니다.
print(combined_df.info())

# 데이터셋의 요약 통계를 출력합니다.
print(combined_df.describe())

# 'rank' 컬럼의 값 분포를 막대 그래프로 시각화합니다.
plt.figure(figsize=(8, 6))
sns.countplot(x='rank', data=combined_df)
plt.title('Team Rank Distribution')
plt.show()

# 숫자형 변수들간의 상관 관계를 시각화합니다. (Pairplot)
sns.pairplot(combined_df, vars=selected_features + [target])
plt.show()

# 숫자형 변수들간의 상관 관계를 히트맵으로 시각화합니다.
correlation_matrix = combined_df[selected_features + [target]].corr()
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5)
plt.title('Correlation Matrix')
plt.show()

# 'on_base_percentage'와 'rank' 간의 관계를 산점도로 시각화합니다.
plt.figure(figsize=(8, 6))
sns.scatterplot(x='on_base_percentage', y='rank', data=combined_df)
plt.title('On-base Percentage vs. Rank')
plt.show()

KeyError: 'team'

['LG' 'KT' '키움' 'NC' '삼성' 'SK' '롯데' '두산' '한화' 'KIA' 'SSG']
['LG' 'NC' 'SSG' '두산' 'KIA' '키움' 'KT' '한화' '삼성' '롯데']

In [85]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from io import StringIO
from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
label_encoder = LabelEncoder()

# 데이터를 로드합니다. ('abb.csv'와 'bbb.csv'가 데이터를 담고 있는 파일이라고 가정합니다.)
abb_df = pd.read_csv('abb.csv')
bbb_df = pd.read_csv('bbb.csv')

# 팀(team) 컬럼을 삭제합니다.
abb_df.drop(columns=['team'], inplace=True)
bbb_df.drop(columns=['team'], inplace=True)

# 두 개의 데이터프레임을 하나로 합칩니다.
combined_df = pd.merge(abb_df, bbb_df, on=['year'], how='outer')

# 'kbo_ranking_data_all.csv' 파일로부터 'kbo_ranking' 컬럼을 가져와 'rank'라는 이름의 새로운 컬럼으로 추가합니다.
rank_data = '''year,team,kbo_ranking
2023,LG,1
2023,SSG,2
2023,두산,3
2023,NC,4
2023,롯데,5
2023,KT,6
2023,KIA,7
2023,한화,8
2023,키움,9
2023,삼성,10
2022,SSG,1
2022,LG,2
2022,KT,3
2022,키움,3
2022,KIA,5
2022,NC,6
2022,삼성,7
2022,롯데,8
2022,두산,9
2022,한화,10
2021,KT,1
2021,삼성,1
2021,LG,3
2021,두산,4
2021,키움,5
2021,SSG,6
2021,NC,7
2021,롯데,8
2021,KIA,6
2021,한화,3
2020,NC,1
2020,KT,2
2020,두산,3
2020,LG,3
2020,키움,5
2020,KIA,6
2020,롯데,7
2020,삼성,8
2020,SK,9
2020,한화,10
'''
rank_df = pd.read_csv(StringIO(rank_data), sep=',')

# Remove leading and trailing whitespaces from the 'team' column in rank_df
rank_df['team'] = rank_df['team'].str.strip()

# Merge the DataFrames based on 'year' and 'team' columns
combined_df = pd.merge(combined_df, rank_df[['year','kbo_ranking']], on=['year'], how='left')

# Rename the 'kbo_ranking' column to 'rank'
combined_df.rename(columns={'kbo_ranking': 'rank'}, inplace=True)

# Fill missing values with the mean of each feature
combined_df.fillna(combined_df.mean(), inplace=True)

# 분석에 사용할 특성(feature)을 선택합니다.
selected_features = ['batting_average', 'on_base_percentage', 'slugging_percentage', 'ERA', 'Fielding_Percentage', 'rank']

# 특성들을 numpy 배열로 변환합니다.
X = combined_df[selected_features].values

# 목표 변수(target variable)를 설정합니다. ('rank'가 목표 변수라면 다음과 같이 설정합니다.)
target = 'rank'
y = combined_df[target].values

# 데이터셋의 기본 정보를 확인합니다.
print(combined_df.info())

# 데이터셋의 요약 통계를 출력합니다.
print(combined_df.describe())

# 'rank' 컬럼의 값 분포를 막대 그래프로 시각화합니다.
plt.figure(figsize=(8, 6))
sns.countplot(x='rank', data=combined_df)
plt.title('Team Rank Distribution')
plt.show()

# 숫자형 변수들간의 상관 관계를 시각화합니다. (Pairplot)
sns.pairplot(combined_df, vars=selected_features + [target])
plt.show()

# 숫자형 변수들간의 상관 관계를 히트맵으로 시각화합니다.
correlation_matrix = combined_df[selected_features + [target]].corr()
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5)
plt.title('Correlation Matrix')
plt.show()

# 'on_base_percentage'와 'rank' 간의 관계를 산점도로 시각화합니다.
plt.figure(figsize=(8, 6))
sns.scatterplot(x='on_base_percentage', y='rank', data=combined_df)
plt.title('On-base Percentage vs. Rank')
plt.show()

KeyError: "['batting_average', 'on_base_percentage', 'slugging_percentage', 'ERA', 'Fielding_Percentage'] not in index"

In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from io import StringIO
from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
label_encoder = LabelEncoder()

# 데이터를 로드합니다. ('abb.csv'와 'bbb.csv'가 데이터를 담고 있는 파일이라고 가정합니다.)
abb_df = pd.read_csv('abb.csv')
bbb_df = pd.read_csv('bbb.csv')

# 팀(team) 컬럼을 삭제합니다.
abb_df.drop(columns=['team'], inplace=True)
bbb_df.drop(columns=['team'], inplace=True)

# 두 개의 데이터프레임을 하나로 합칩니다.
combined_df = pd.merge(abb_df, bbb_df, on=['year'], how='outer')

# 'kbo_ranking_data_all.csv' 파일로부터 'kbo_ranking' 컬럼을 가져와 'rank'라는 이름의 새로운 컬럼으로 추가합니다.
rank_data = '''year,team,kbo_ranking
2023,LG,1
2023,SSG,2
2023,두산,3
2023,NC,4
2023,롯데,5
2023,KT,6
2023,KIA,7
2023,한화,8
2023,키움,9
2023,삼성,10
2022,SSG,1
2022,LG,2
2022,KT,3
2022,키움,3
2022,KIA,5
2022,NC,6
2022,삼성,7
2022,롯데,8
2022,두산,9
2022,한화,10
2021,KT,1
2021,삼성,1
2021,LG,3
2021,두산,4
2021,키움,5
2021,SSG,6
2021,NC,7
2021,롯데,8
2021,KIA,6
2021,한화,3
2020,NC,1
2020,KT,2
2020,두산,3
2020,LG,3
2020,키움,5
2020,KIA,6
2020,롯데,7
2020,삼성,8
2020,SK,9
2020,한화,10
'''
rank_df = pd.read_csv(StringIO(rank_data), sep=',')

# Remove leading and trailing whitespaces from the 'team' column in rank_df
rank_df['team'] = rank_df['team'].str.strip()

# Merge the DataFrames based on 'year' only to avoid duplicate 'team' columns
combined_df = pd.merge(combined_df, rank_df[['year', 'kbo_ranking']], on='year', how='left')

# Rename the 'kbo_ranking' column to 'rank'
combined_df.rename(columns={'kbo_ranking': 'rank'}, inplace=True)

# Fill missing values with the mean of each feature
combined_df.fillna(combined_df.mean(), inplace=True)

# 분석에 사용할 특성(feature)을 선택합니다.
selected_features = ['batting_average', 'on_base_percentage', 'slugging_percentage', 'ERA', 'Fielding_Percentage', 'rank']

# Check if all selected features are present in combined_df
if all(feature in combined_df.columns for feature in selected_features):
    # 특성들을 numpy 배열로 변환합니다.
    X = combined_df[selected_features].values

    # 목표 변수(target variable)를 설정합니다. ('rank'가 목표 변수라면 다음과 같이 설정합니다.)
    target = 'rank'
    y = combined_df[target].values

    # 데이터셋의 기본 정보를 확인합니다.
    print(combined_df.info())

    # 데이터셋의 요약 통계를 출력합니다.
    print(combined_df.describe())

    # 'rank' 컬럼의 값 분포를 막대 그래프로 시각화합니다.
    plt.figure(figsize=(8, 6))
    sns.countplot(x='rank', data=combined_df)
    plt.title('Team Rank Distribution')
    plt.show()

    # 숫자형 변수들간의 상관 관계를 시각화합니다. (Pairplot)
    sns.pairplot(combined_df, vars=selected_features + [target])
    plt.show()

    # 숫자형 변수들간의 상관 관계를 히트맵으로 시각화합니다.
    correlation_matrix = combined_df[selected_features + [target]].corr()
    plt.figure(figsize=(10, 8))
    sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5)
    plt.title('Correlation Matrix')
    plt.show()

    # 'on_base_percentage'와 'rank' 간의 관계를 산점도로 시각화합니다.
    plt.figure(figsize=(8, 6))
    sns.scatterplot(x='on_base_percentage', y='rank', data=combined_df)
    plt.title('On-base Percentage vs. Rank')
    plt.show()

else:
    print("Selected features are not present in the DataFrame.")

Selected features are not present in the DataFrame.

In [89]:
print(rank_df.head())

   year team  kbo_ranking
0  2023   LG            1
1  2023  SSG            2
2  2023   두산            3
3  2023   NC            4
4  2023   롯데            5

In [90]:
print(combined_df.head())

   year  Fielding_Percentage_x  batting_average_x  on_base_percentage_x  \
0    20                  0.985              0.277                 0.349
1    20                  0.981              0.284                 0.358
2    20                  0.980              0.269                 0.355
3    20                  0.984              0.291                 0.366
4    20                  0.981              0.268                 0.338

   slugging_percentage_x  on_base_plus_slugging_x  ERA_x  WHIP_x  \
0                  0.428                    0.778   4.39    1.42
1                  0.436                    0.794   4.56    1.46
2                  0.408                    0.762   4.39    1.39
3                  0.462                    0.828   4.59    1.42
4                  0.394                    0.732   4.78    1.47

   batting_average_y  on_base_percentage_y  slugging_percentage_y  \
0             0.2593                0.3362                 0.3666
1             0.2593                0.3362                 0.3666
2             0.2593                0.3362                 0.3666
3             0.2593                0.3362                 0.3666
4             0.2593                0.3362                 0.3666

   on_base_plus_slugging_y  Fielding_Percentage_y  ERA_y  WHIP_y  rank
0                   0.7029                 0.9798  4.024   1.402   NaN
1                   0.7029                 0.9798  4.024   1.402   NaN
2                   0.7029                 0.9798  4.024   1.402   NaN
3                   0.7029                 0.9798  4.024   1.402   NaN
4                   0.7029                 0.9798  4.024   1.402   NaN

In [91]:
print(combined_df.dtypes)
print(rank_df.dtypes)

year                         int64
Fielding_Percentage_x      float64
batting_average_x          float64
on_base_percentage_x       float64
slugging_percentage_x      float64
on_base_plus_slugging_x    float64
ERA_x                      float64
WHIP_x                     float64
batting_average_y          float64
on_base_percentage_y       float64
slugging_percentage_y      float64
on_base_plus_slugging_y    float64
Fielding_Percentage_y      float64
ERA_y                      float64
WHIP_y                     float64
rank                       float64
dtype: object
year            int64
team           object
kbo_ranking     int64
dtype: object

In [96]:
print(combined_df.columns)
print(combined_df.head())

Index(['year', 'Fielding_Percentage_x', 'batting_average_x',
       'on_base_percentage_x', 'slugging_percentage_x',
       'on_base_plus_slugging_x', 'ERA_x', 'WHIP_x', 'batting_average_y',
       'on_base_percentage_y', 'slugging_percentage_y',
       'on_base_plus_slugging_y', 'Fielding_Percentage_y', 'ERA_y', 'WHIP_y',
       'rank'],
      dtype='object')
   year  Fielding_Percentage_x  batting_average_x  on_base_percentage_x  \
0    20                  0.985              0.277                 0.349
1    20                  0.981              0.284                 0.358
2    20                  0.980              0.269                 0.355
3    20                  0.984              0.291                 0.366
4    20                  0.981              0.268                 0.338

   slugging_percentage_x  on_base_plus_slugging_x  ERA_x  WHIP_x  \
0                  0.428                    0.778   4.39    1.42
1                  0.436                    0.794   4.56    1.46
2                  0.408                    0.762   4.39    1.39
3                  0.462                    0.828   4.59    1.42
4                  0.394                    0.732   4.78    1.47

   batting_average_y  on_base_percentage_y  slugging_percentage_y  \
0             0.2593                0.3362                 0.3666
1             0.2593                0.3362                 0.3666
2             0.2593                0.3362                 0.3666
3             0.2593                0.3362                 0.3666
4             0.2593                0.3362                 0.3666

   on_base_plus_slugging_y  Fielding_Percentage_y  ERA_y  WHIP_y  rank
0                   0.7029                 0.9798  4.024   1.402   NaN
1                   0.7029                 0.9798  4.024   1.402   NaN
2                   0.7029                 0.9798  4.024   1.402   NaN
3                   0.7029                 0.9798  4.024   1.402   NaN
4                   0.7029                 0.9798  4.024   1.402   NaN

In [97]:
print(abb_df.columns)
print(bbb_df.columns)

Index(['year', 'Fielding_Percentage', 'batting_average', 'on_base_percentage',
       'slugging_percentage', 'on_base_plus_slugging', 'ERA', 'WHIP'],
      dtype='object')
Index(['year', 'batting_average', 'on_base_percentage', 'slugging_percentage',
       'on_base_plus_slugging', 'Fielding_Percentage', 'ERA', 'WHIP'],
      dtype='object')

In [98]:
# Merge the 'abb_df' and 'bbb_df' DataFrames on the 'year' column
combined_df = pd.merge(abb_df, bbb_df, on='year', how='outer')

# Check the columns in 'combined_df'
print(combined_df.columns)

Index(['year', 'Fielding_Percentage_x', 'batting_average_x',
       'on_base_percentage_x', 'slugging_percentage_x',
       'on_base_plus_slugging_x', 'ERA_x', 'WHIP_x', 'batting_average_y',
       'on_base_percentage_y', 'slugging_percentage_y',
       'on_base_plus_slugging_y', 'Fielding_Percentage_y', 'ERA_y', 'WHIP_y'],
      dtype='object')

In [99]:
# Print the first few rows of 'rank_df'
print(rank_df.head())

# Merge 'rank_df' into 'combined_df' based on 'year' and 'team' columns
combined_df = pd.merge(combined_df, rank_df[['year', 'team', 'kbo_ranking']], on=['year', 'team'], how='left')

# Check the columns in 'combined_df' after the merge
print(combined_df.columns)

   year team  kbo_ranking
0  2023   LG            1
1  2023  SSG            2
2  2023   두산            3
3  2023   NC            4
4  2023   롯데            5

KeyError: 'team'

In [151]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from io import StringIO
from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
label_encoder = LabelEncoder()

# 데이터를 로드합니다. ('abb.csv'와 'bbb.csv'가 데이터를 담고 있는 파일이라고 가정합니다.)
abb_df = pd.read_csv('abb.csv')
bbb_df = pd.read_csv('bbb.csv')

# 팀(team) 컬럼을 삭제합니다.
abb_df.drop(columns=['team'], inplace=True)
bbb_df.drop(columns=['team'], inplace=True)

# 두 개의 데이터프레임을 하나로 합칩니다.
combined_df = pd.merge(abb_df, bbb_df, on=['year'], how='outer')

# 'kbo_ranking_data_all.csv' 파일로부터 'kbo_ranking' 컬럼을 가져와 'rank'라는 이름의 새로운 컬럼으로 추가합니다.
rank_data = '''year,team,kbo_ranking
2023,LG,1
2023,SSG,2
2023,두산,3
2023,NC,4
2023,롯데,5
2023,KT,6
2023,KIA,7
2023,한화,8
2023,키움,9
2023,삼성,10
2022,SSG,1
2022,LG,2
2022,KT,3
2022,키움,3
2022,KIA,5
2022,NC,6
2022,삼성,7
2022,롯데,8
2022,두산,9
2022,한화,10
2021,KT,1
2021,삼성,1
2021,LG,3
2021,두산,4
2021,키움,5
2021,SSG,6
2021,NC,7
2021,롯데,8
2021,KIA,6
2021,한화,3
2020,NC,1
2020,KT,2
2020,두산,3
2020,LG,3
2020,키움,5
2020,KIA,6
2020,롯데,7
2020,삼성,8
2020,SK,9
2020,한화,10
'''
rank_df = pd.read_csv(StringIO(rank_data), sep=',')

# Merge 'rank_df' into 'combined_df' based on 'year' and 'team' columns
combined_df = pd.merge(combined_df, rank_df[['year', 'team', 'kbo_ranking']], on=['year', 'team'], how='left')

# Rename the 'kbo_ranking' column to 'rank'
combined_df.rename(columns={'kbo_ranking': 'rank'}, inplace=True)

# Fill missing values with the mean of each feature
combined_df.fillna(combined_df.mean(), inplace=True)

# 분석에 사용할 특성(feature)을 선택합니다.
selected_features = ['Fielding_Percentage_x', 'batting_average_x', 'on_base_percentage_x', 'slugging_percentage_x', 'ERA_x', 'WHIP_x', 'rank']

# 특성들을 numpy 배열로 변환합니다.
X = combined_df[selected_features].values

# 목표 변수(target variable)를 설정합니다.
target = 'rank'
y = combined_df[target].values

# 데이터셋의 기본 정보를 확인합니다.
print(combined_df.info())

# 데이터셋의 요약 통계를 출력합니다.
print(combined_df.describe())

# 'rank' 컬럼의 값 분포를 막대 그래프로 시각화합니다.
plt.figure(figsize=(8, 6))
sns.countplot(x='rank', data=combined_df)
plt.title('Team Rank Distribution')
plt.show()

# 숫자형 변수들간의 상관 관계를 시각화합니다. (Pairplot)
sns.pairplot(combined_df, vars=selected_features + [target])
plt.show()

# 숫자형 변수들간의 상

KeyError: 'team'